.ConteArriba{
width: 70%;
height: 30%;

}
.menu{
font-family: Arial;    
font-size: 13px;
padding: 0;
}

.menu ul a{
font-size:15px;
text-decoration: none;
float: left;
position: relative;
left: 3.5%;
padding: 10px;
width: 162.5px;
background-color: rgb(95, 136, 160);
color: #fff;
}
.menu ul a:hover{
background-color: rgb(95, 136, 160);
margin-top:-2px;
padding-bottom:15px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

