.rojo{
    background: yellow;
    height: 50px;
    width: 100px;
}
.amarillo{
    background: yellow;
        height: 50px;
        width: 100px;
}
.verde{
    background: #2d572c;
        height: 50px;
        width: 100px;
}