<<<<<<< HEAD
.rojo{
    background: red;
    height: 50px;
    width: 100px;
}
.amarillo{
    background: yellow;
        height: 50px;
        width: 100px;
}
.verde{
    background: green;
        height: 50px;
        width: 100px;
}
.blanco{
    background: white;
        height: 50px;
        width: 100px;
=======
.rojo{
    background: red;
    height: 50px;
    width: 100px;
}
.amarillo{
    background: yellow;
        height: 50px;
        width: 100px;
}
.verde{
    background: green;
        height: 50px;
        width: 100px;
}
.blanco{
    background: white;
        height: 50px;
        width: 100px;
>>>>>>> 8495055ecf4b87297f66811c8f250c3601b02866
}