table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
  }
  
  td, th {
    border: 1px solid orange;
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color:  #FBE4D5;
    
  }
th{
background-color: orange;    
}  